$default-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// sizes
$web-head: 32px;
$web-body: 16px;
$alt-body: 1rem;

// Colors
$def-color: #f654ee;
$alt-color: #38ffd4;
$global-col: #ccc;
$local-col: grey;
$success: #0b9779;
$btn-hover: #075e4b;


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $default-font;
    background-image: url('/img/Screenshot\ \(117\).png');
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

::placeholder {
    font-family: $default-font;
    color: $global-col;
    font-size: $alt-body;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 392px;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    background: $global-col;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.98;
}

.wrapper label {
    font-size: $web-body;
    color: #333;
}

#fullname {
    outline: 0;
    border: 1px solid $global-col;
    height: 30px;
    width: 300px;
    font-family: $default-font;
}

#email {
    outline: 0;
    border: 1px solid $global-col;
    height: 30px;
    width: 300px;
    font-family: $default-font;
}

#password {
    outline: 0;
    border: 1px solid $global-col;
    height: 30px;
    width: 300px;
    font-family: $default-font;
}

form {
    margin-left: 6px;
}

input {
    margin-bottom: 8%;
    border-radius: 3px;
    border: none;
}

::placeholder {
    padding: 8px;
}

.wrapper .pwd-input {
    position: relative;
}

#pwd-msg {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 10px;
    color: $global-col;
}

.btn {
    background:  $success;
    color: #fff;
    font-weight: bolder;
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    margin-top: 10%;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input:hover {
    border-color: $alt-color;
    transform: translateY(-2px);
}

.btn:hover {
    background: $btn-hover;
    color: #fff;
}


